[Unit]
Description=ServicesServer
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/serverrpi/bin/www
Restart=always
TimeoutSec=900
EnvironmentFile=/opt/serverrpi/.env

[Install]
WantedBy=multi-user.target
Alias=services-server.service
